:root {
  --primario: #02557d;
  --secundario: #fa9b0c;
  --text-shadow: 2px 1px 5px black;
}

/* GLOBALES */
.primario {
  background-color: var(--primario);
}

.secundario {
  background-color: var(--secundario);
}

.boton-read {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.circulo-padre {
  h2 {
    font-size: 22px;
    position: relative;
    @media (max-width: 768px) { 
      text-align: center;
    }
    &::before {
      content: '';
      display:inline-block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: var(--secundario);
      position: absolute;
      margin-left: -24px;
      margin-top: 7px;
      @media (max-width: 768px) { 
        position: static;
        margin-left: 0;
        margin-right: 12px;
      }
    }
    span {
      display: block;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 50px;
      &::before {
        content: '';
        display: block;
        width: 230px;
        height: 4px;
        background-color: var(--secundario);
        margin: 10px 0;
        @media (max-width: 768px) { 
          margin: 10px auto;
        }
      }
      
    }
  }
}

img {
  max-width: 100%;
}

.barra {
  font-size: 12px;
  &.fijar-barra {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    a {
      color: var(--primario);
    }
  }

  @media (min-width: 768px) { 
    & {
      font-size: 16px;
    }
  }
  .row {
    @media (min-width: 768px) { 
      & {
        flex-direction: row;
      }
    }
  }
  .d-flex {
    gap: 10px;
    margin-bottom: 5px;
    justify-content: center;
    @media (min-width: 768px) { 
      & {
        margin-bottom: 0;
        justify-content: start;
      }
    }
  }
  .redes-sociales {
    gap: 10px;
    @media (min-width: 768px) { 
      & {
        justify-content: flex-end;
        gap: 30px;
      }
    }
    
    svg {
      width: 14px;
      height: 14px;
      @media (min-width: 768px) { 
        & {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: #fff;
    transition: 0.6s ease all;
    &:hover {
      color: rgba(255, 255, 255, .7);
    }
  }
  svg{
    width: 16px;
    height: 16px;
  }
 
  
}

.hero { 
  background-image: url('../imagenes/IMAGEN\ HERO.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
  position: relative;
  padding-top: 10px;
  @media (max-width: 768px) { 
    & {
      height: 1200px;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .contenido {
    position: relative;
    z-index: 2;
    .menu {  
      img {
        width: 100px;
        object-fit: cover;
        vertical-align: top;
      }
      &.fijar-menu {
        background-color: var(--primario);
        position: fixed;
        width: 100%;
        z-index: 10;
        box-shadow: 1px 2px 4px rgb(22, 21, 21);
      }
      .enlaces {
        gap: 80px;
        a {
          color: #fff;
          transition: 0.6s ease all;
          text-shadow: var(--text-shadow);
          font-size: 18PX;
          &:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, .7);
          }
        }
      }
      .activador {
        background-color: var(--secundario);
        border: none;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        svg{
          width: 30px;
          height: 30px;
          color: #fff;
        }
      }
      #menu {
        @media (max-width: 768px) { 
          display: none !important;
          &.activo {
            display: flex !important;
            flex-direction: column;
            gap: 20px;
            background-color: rgba(0, 0, 0, .5);
            padding: 20px 0;
            margin-top: 10px;
          }
      }
      
    }

    } 

    .hero-contenido {
      .hero-texto {
        padding-top: 110px;
        @media (max-width: 768px) { 
          padding-top: 60px;
          text-align: center;
        }
      }

      .hero-form {
        padding-top: 100px;
        @media (max-width: 768px) { 
          padding-top: 40px;
        }
      }
    
      .subtitulo {
      font-size: clamp(20px, 3vw, 24px);
      text-shadow: var(--text-shadow);
      }
      .titulo {
      font-size: clamp(24px, 4vw, 52px);
      text-shadow: var(--text-shadow);
        &::before {
          content: '';
          display: block;
          width: 166px;
          height: 4px;
          margin-top: 10px;
          background-color: var(--secundario);
          margin-bottom: 10px;
          @media (max-width: 768px) { 
            margin: 10px auto;
          }
        }
      }
      .rounded-pill {
        &.secundario {
          padding: 7px 45px;
          border: 1px solid #fff;
        
          @media (max-width: 768px) { 
            padding: 6px 25px;
            margin-top: 10px;
          }
        }
      }
      .formulario {    
        .formulario-header {
          font-size: 20px;
          padding: 15px 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          margin: 0;
          border-bottom: 4px solid var(--secundario);
        }
        .formulario-bg {
          background-color: #fff;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 40px 20px;
          input {
            border-radius: 20px;
            background-color: rgba(217, 217, 217, 0.6);
            padding-left: 20px;
          }
          textarea {
            border-radius: 10px;
            background-color: rgba(217, 217, 217, 0.6);
          }
        }
      }
    }
  }

  &.normalizar {
    padding-top: 0;
    height: 900px;
    @media (max-width: 768px) { 
      height: 1190px;
    }
    .contenido {
      padding-top: 40px;
    }
    .hero-contenido {
      .hero-texto {
        padding-top: 360px;
        @media (max-width: 768px) { 
          padding-top: 360px;
          text-align: center;
        }
      }
      .hero-form {
      padding-top: 340px;
      @media (max-width: 768px) { 
        padding-top: 40px;
      }
      }
    }
    
  }

  .video-container {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



/* seccion 4 cards */

.cursos {
  .card {
    border-radius: 10px;
    box-shadow: 3px 4px 4px 0px rgba(191,174,174,0.75);
    img {
      border-bottom: 8px solid var(--primario);
    }
    @media (max-width: 768px) { 
      & {
      width: 90%;
      margin: 0px auto 30px auto;
     }
    }
    .card-body {
      border-top: 8px solid var(--secundario);;
    }
    .card-text {
    font-weight: 700;
    }
    .rounded-pill {
      &.secundario {
        padding: 7px 35px;
       
      }
    }

  }

  .rounded-pill {
      &.btn-outline-warning {
        padding: 7px 35px;
        color: var(--secundario);
        font-size: 18px;
        &:hover{
          color: #fff;
        }
       
      }
  }
  .new {
    background-color: #f2f2f2;
    width: 54px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 170px;
    left: 15px;
  }
}

/* About */

.about {
  padding-bottom: 100px;
  @media (max-width: 768px) { 
    padding-bottom: 40px;
  }
  .rounded-pill {
    &.secundario {
      padding: 7px 45px;
      border: 1px solid #fff;
    }
  }

  .marco-dorado {
    position: relative;
    display: inline-block;
    &::before {
      content: '';
      position: absolute;
      top: 65px;
      left: -8px;
      width: 95%;
      height: 90%;
      border: 6px solid rgb(136, 116, 2);
      border-radius: 10px;
      transform: rotate(5deg);
      z-index: 0;
      box-sizing: border-box;
      @media (max-width: 768px) { 
        display: none;
      }
    }
    .main-image {
      position: relative;
      z-index: 1;
      padding: 6px;
      background-color: #b6cfde;
      border-radius: 10px;   
  }
  }
} 

.benefits {
  background-image: url(../imagenes/BACKGROUND\ BENEFITS.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .benefits-contenido {
    position: relative;
    z-index: 1;
  }

  .icono {
    background-color: #fff;
    width: 140px;
    height: 140px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    img {
      width: 80%;
    }
  }
  h3 {
    text-align: center;
    text-shadow: var(--text-shadow);
    font-weight: 700;
    margin: 0;
    margin-top: 24px;
    font-size: 24px;
    line-height: 1.4;
    @media (max-width: 768px) { 
      margin-bottom: 20px;
    }
    }
}

.study {
  .grid-margin {
    margin-top: 30px;
    @media (max-width: 768px) { 
      margin-top: 0;
    }
  }
  .grid {
    .twin {
      height: 350px;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      @media (max-width: 768px) { 
        height: 180px;
        margin-bottom: 20px;
      }
      &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 10px;
    }
      &.admin {
        background-image: url('../imagenes/IMAGE\ \ CATEGORY\ ADMINISTRATION.jpg');
      }
      &.account {
        background-image: url('../imagenes/IMAGE\ \ CATEGORY\ ACCOUNTING.jpg');
      }
      &.math {
        background-image: url('../imagenes/IMAGE\ \ CATEGORY\ MATHEMATICS.jpg');
        height: 165px;
        background-position: 50% 10%;
        margin-bottom: 20px;
        @media (max-width: 768px) { 
          height: 180px;
        }
      }
      &.program {
        background-image: url('../imagenes/IMAGE\ \ CATEGORY\ PROGRAMMING.jpg');
        height: 165px;
        @media (max-width: 768px) { 
          height: 180px;
        }
      }
      &.arch {
        background-image: url('../imagenes/IMAGE\ \ CATEGORY\ ARCHITECTURE.jpg');
        height: 180px; 
      }
       &.biology {
        background-image: url('../imagenes/IMAGE\ \ CATEGORY\ BIOLOGY.jpg');
        height: 180px;
      }
    }
    h3 {
      color: #fff;
      text-shadow: var(--text-shadow);
      z-index: 1;
    }
  }
  .rounded-pill {
    &.secundario {
      padding: 6px 25px;
      border: 1px solid #fff;
      position: relative;
      z-index: 1;
    }
  }
  .more {
    .rounded-pill {
      &.btn-outline-warning {
        padding: 7px 35px;
        color: var(--secundario);
        font-size: 18px;
        &:hover{
          color: #fff;
        }
       
      }
    }
  }

}

.team {
  background-color: #f4f4f4; 
  .grid {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
    @media (max-width: 768px) { 
      grid-template-columns: 1fr;
      &.ocultar-movil {
        display: none;
      }
    }
  }
  .more {
    .rounded-pill {
      padding: 7px 35px; 
      font-size: 18px;
      &:hover{
        color: #fff;
      }
    }
  }
}

.team-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgb(189, 178, 178);
  .img-bg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 140px;
    object-fit: cover;
  }
  .team-profile {
    position: absolute;
    width:50%;
    padding: 6px;
    background-color: #fff;
    margin: -80px auto 0 auto;
    left: 64px;
    border-radius: 100%;
    @media (max-width: 768px) { 
      width: 40%;
      left: 30%;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  .team-info{
    margin-top: 60px;
    text-align: center;
    @media (max-width: 768px) { 
      margin-top: 70px;
    }
    h3 {
      color: var(--primario);
      margin: 0;
      font-weight: 700;
      font-size: 24px;
    }
    h4 {
      color: var(--secundario);
      font-size: 22px;
      font-weight: 300;
    }
  }
  .team-boton {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    .btn-outline-warning {
      transition: 0.6s ease all;
      color: var(--secundario);
      &:hover{
        color: #fff;
        background-color: var(--secundario);
      }
    }
  }
  
}

.ocultar-desktop {
  display: none;
  @media (max-width: 768px) { 
    display: flex;
  }
  .carousel-inner {
    border-radius: 10px;
  }
  .carousel-indicators {
    li {
      background-color: var(--primario);
      margin-top: 10px;
    }
  }
  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    filter: invert(60%);
  }
  .team-card {
    padding-bottom: 15px;
  }
}

/* testimonials */
.testimonials {
  padding: 50px 0;
  @media (max-width: 768px) { 
    padding: 0;
  }
  .bg-testimonials {
    background-image: url('../imagenes/IMAGE\ \ CATEGORY\ ARCHITECTURE.jpg');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    color: #fff;
    position: relative; 
    @media (max-width: 768px) { 
      padding-top: 40px;
    }
    
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    
    .testimonials-texto {
      max-width: 360px;
      width: 90%;
      margin: 0 auto;
      text-shadow: var(--text-shadow);
      z-index: 1;
      
      h4 {
        font-size: 34px;
        font-weight: 700;
        line-height: 1.4;
      }
    }
  }
  
  .carousel-indicators {
    z-index: 1;
    li {
      background-color: var(--secundario);
    }
  }
  
  .carousel-item {
    margin-bottom: 70px;
    position: relative; /* Añadido para posicionar el icono */
  }
  
  .carousel-icono {
    position: relative; /* Añadido para contener el icono */
    
    .icono {
      cursor: pointer;
      transition: transform 0.3s ease;
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      &:hover {
        transform: translate(-50%, -50%) scale(1.05);
      }
      
      svg {
        height: 100px;
        width: 100px;
        margin-top: -340px;
        color: #f03a03;
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.7));
      }
    }
    
    .slider-texto {
      background-color: #fff;
      color: red;
      width: 70%;
      position: absolute;
      padding: 10px 0;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 1;
      font-weight: 700;
      border-radius: 10px;
    }
  }
}

/* Modales y videos */
.modal-backdrop.show {
  opacity: 0.9;
}

.modal-content {
  background: transparent;
  border: none;
}

.close {
  color: white;
  opacity: 1;
  text-shadow: none;
}


/* Ajustes para móviles */
@media (max-width: 768px) {
  .testimonials {
    .modal-dialog {
      margin: 0.5rem auto;
    }
    
    .carousel-icono {
      .icono svg {
        height: 70px;
        width: 70px;
      }
      
      .slider-texto {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/* footer */

.footer {
  padding-top: 50px;
  @media (max-width: 768px) { 
    & {
      padding-top: 10px;
      text-align: center;
    }
  }
  .logo {
    img {
      max-width: 140px;
      width: 90%;
      margin-top: 40px;
    }
  }
  h3 {
    color: var(--secundario);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: 768px) { 
      margin-top: 20px;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      color: #fff;
      transition: 0.6s ease all;
      &:hover {
        color: rgba(255, 255, 255, .7);
      } 
    }
  }
  .d-flex {
    gap: 20px;
  }
  .redes-sociales {
    margin-top: 20px;
    @media (max-width: 768px) { 
      justify-content: center;
    }
    svg {
      width: 24px;
      height: 24px;
      color: #fff;
      &:hover {
        color: rgba(255, 255, 255, .7);
      } 
    }
  }
  .newsletter {
    display: flex;
    @media (max-width: 768px) { 
      justify-content: center;
    }
    .contenedor-submit {
      width: 100%;
      border: none;
      border-color: transparent;
      border-radius: 15px;
      @media (max-width: 768px) { 
        display: flex;
        width: auto;
      }
    }
    .submit {
      border: none;
      background-color: var(--secundario);
      color: #fff;
      border-radius: 50px;
      padding: 6px 20px;
      margin-left: -90px;
      transform: scale(0.9);
      font-size: 16px;
      transition: 0.3s ease all;
      &:hover {
        background-color: #df9526;
      }
     
    }
  }
  hr {
    margin-top: 60px;
    background: #fff;
  }
  .copyright p {
    font-size: 14px;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    @media (max-width: 768px) { 
      line-height: 1.6;
    }
    span {
      text-transform: lowercase;
    }
  }
  .silvera {
    img{
      max-width: 120px;
      @media (max-width: 768px) { 
        margin-top: 10px;
      }
    }
  }
}

